@model StartGameHomeViewModel

@using MailGames
@using MailGames.Controllers
@using MailGames.Logic
@using MailGames.Models
@{
    ViewBag.Title = "Start new game";
}

<form action="@Url.Action("StartGame")" method="POST">
    <div class="form-group">
        <label for="gameType">Game type</label>
        <select name="gameType" class="form-control">
            @foreach (var gameType in GameLogic.GetGameTypes())
            {
                <option value="@gameType" @(Request.QueryString["gameType"] == gameType.ToString() ? "selected" : "")>@GameLogic.GetName(gameType)</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="playedOpponent">Friend</label>
        <select name="playedOpponent" class="form-control" data-value="@Request.QueryString["playedOpponent"]">
            <option value="">[enter mail]</option>
            <option value="@Constants.OpponentComputerId" id="computer-opponent">Computer</option>
            <option value="@Constants.OpponentRandomPlayerId">Random player</option>
            @foreach (var friends in Model.PlayedOpponents.GroupBy(p => p.FriendType).OrderBy(p => p.Key))
            {
                <optgroup label="@friends.Key">
                    @foreach (var friend in friends)
                    {
                        <option 
                            data-fb-id="@(friend.FriendType == StartGameHomeViewModel.FriendType.Facebook ? friend.Id.ToString() : "")"
                            value="@HomeController.GenerateFriendValue(friend.Id, friend.FriendType, friend.Name)">
                            @friend.Name
                        </option>
                    }
                </optgroup>
            }
        </select>
    </div>
    <div class="form-group" id="opponentsmail-group">
        <label for="opponentsmail">Opponents mail</label>
        <input type="email" name="opponentsmail" class="form-control" value="@Request.QueryString["opponentsMail"]"/>
    </div>
    
    <button class="btn btn-primary" id="startgame-button">Start game</button>
</form>

@section scripts
{
    <script src="/Scripts/startgame.js" type="text/javascript"></script>
}
