@using MailGames.Controllers
@using MailGames.Logic
@model MailGames.Models.UserHomeViewModel

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

@{
    var showLogin = WebSecurity.CurrentUserName.StartsWith("genne");
}

@if (showLogin)
{
    <p><a href="@Url.Action("LoginUsingGuid", "Account", new{ Model.Guid })">Log in as</a></p>
}

<table class="table">
    <tr><th>Game</th><th>Ranking</th><th>Num Won</th><th>Num Lost</th><th>Num Tie</th></tr>
    @foreach (var gameRanking in Model.GameRankings)
    {
        <tr>
            <td><a href="@Url.Action("GameRankings", new{ gameRanking.GameType })">@GameLogic.GetName(gameRanking.GameType)</a></td>
            <td>@((int)gameRanking.Ranking)</td>
            <td>@gameRanking.NumWon</td>
            <td>@gameRanking.NumLost</td>
            <td>@gameRanking.NumTie</td>
        </tr>
    }
</table>

@if (Model.Id != WebSecurity.CurrentUserId)
{
    <a href="@Url.Action("StartGame", new {playedOpponent = HomeController.GeneratePlayerFriendValue(Model.Id)})" class="btn btn-primary pull-right">Utmana!</a>
}
